@model Student
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport"  content="width=device-width" />
        <title> Delete</title>
    </head>
    <body>
        <h1>Are you sure to delete student</h1>
        <form method="post">
            <input type="hidden" asp-for=Id />
            <input type="submit" value="delete"/>
        </form>
    </body>
</html>

