@model Student


<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="widt=decive-width" />
        <title>Details</title>
    </head>
    <body>
        @Model.Id 
        @Model.Name
        @Model.Age
    </body>
</html>
