

<!DOCTYPE html>
<html>
    <head>
         <meta name="viewport"  content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        
    </head>
    <body>
       <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Learning Academy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="/departmentCourses/index" href="/departmentCourses/index">Home</a>
        <a class="nav-link" href="/department/index">Department</a>
        <a class="nav-link" href="/course/index">Courses</a>
        <a class="nav-link" href="/student/index">Students</a>
      </div>
    </div>
  </div>
</nav>
    <div class="m-3">
        @RenderBody()
    </div>
      
    </body>
</html>

